@import "~bootstrap/scss/bootstrap.scss";
* {
  font-family: "Times New Roman", Times, serif;
  background: #f2f8ff;
}
.All_Headings {
  font-size: 2.6vw;
  font-weight: 600;
  text-align: left;
  margin-top: 4vw;
}

.table-left,
.table-right {
  padding: 3vw;
}
th {
  font-size: 1.7vw;
}
td {
  vertical-align: middle;
}
label,
p,
optgroup,
select {
  font-size: 1.5vw;
}
.inpOfIncomeDetails {
  font-size: 1.3vw;
  border: none;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
  background-color: white !important;
}
input:focus {
  border: none;
}
.withoutInputFields {
  width: 17vw;
  text-align: center;
}
.nameOfTheApp {
  font-size: 2.5vw !important;
  text-align: center;
  color: #f81c3a;
  font-weight: 600;
}

.footerDetails {
  margin-top: 5vw;
  margin-bottom: 5vw;
  font-size: 2.5vw !important;
  text-align: center;
  font-weight: 600;
}
.IncomeTaxCardFor {
  margin-top: 2vw;
  font-weight: 600;
  font-size: 1.5vw;
}

span {
  color: red;
  //   background: #bbd6fe;
}
