@import "~bootstrap/scss/bootstrap.scss";
* {
  font-family: "Times New Roman", Times, serif;
  // background: #f2f8ff;
}
.container {
  margin-bottom: 5vh;
}
.All_Headings {
  font-size: 1.8vw;
  font-weight: 600;
  text-align: left;
  margin-top: 4vw;
}

.tax_title {
  font-weight: 600;
  font-size: 1.7vw;
}
.employee_details_rightside {
  font-size: 1.5vw;
}

.table-left,
.table-right {
  padding: 3vw;
}
th {
  font-size: 1.7vw;
}
td {
  vertical-align: middle;
}
.total_of_IncomeDetails,
.p_of_total_in_Income_Details {
  background-color: rgb(206, 198, 199);
}
label,
p,
optgroup,
select {
  font-size: 1.5vw;
}
.inpOfIncomeDetails,
.inpOfInvestmentAllowance {
  font-size: 1.3vw;
  border: none;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
  background-color: white !important;
}
input:focus {
  border: none;
}
.withoutInputFields {
  width: 17vw;
  text-align: center;
}
.inpOfInvestmentAllowance {
  margin-bottom: 0.3vw;
  text-align: start;
}
label {
  margin-bottom: 1.3vw 0;
}
pre {
  font-size: 1.5vw;
  font-family: "Times New Roman", Times, serif;
}
.footerDetails {
  margin-top: 5vw;
  margin-bottom: 5vw;
  font-size: 1.8vw !important;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 600;
}
.IncomeTaxCardFor {
  margin-top: 2vw;
  font-weight: 600;
  font-size: 1.5vw;
}

span {
  color: red;
}
.header_div p {
  text-align: center;
  font-size: 1.5vw;
}
.company_name {
  color: #000 !important;
  font-weight: 600;
}
.image-fluid {
  height: 3.5vw;
  width: 10vw;
}
button.btn {
  color: #fff;
  background: crimson;
  border: 2px solid crimson;
  padding: 0 2vw;
  font-weight: 600;
  border-radius: 2vw;
}
button.btn:hover {
  border: 2px solid crimson;
  background: #fff;
}
.td_of_charts {
  font-size: 1.5vw;
}
